<div class="container">

<div class="row">
<h2>Speak out!</h2>
<button class="btn" (click)="openRegisterModal()">Register</button>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let message of messages" [ngStyle]="{'color': message.color}">
    {{message.username}}: {{message.text}}
  </li>
</ul>

<!-- <form> -->
  <div class="form-group">
    <!-- <input type="text" #box class="form-control" id="chatMessage" [style.color]="color" placeholder="Enter message..." (keyup.enter)="sendMessage(box)"> -->
    <input type="text" #box class="form-control" id="chatMessage" [ngStyle]="{'color': color}" placeholder="Enter message..." (keyup.enter)="sendMessage(box)">
    <!-- <div class="sidebar-nav" [ngStyle]="{overflow: 'scroll', height: height + 'px'}"> -->
  </div>
<!-- </form> -->
</div>
