<div class="container">

  <div class="row justify-content-between">
    <h2>Speak out!</h2>
    <button *ngIf="registered !== 'true'" class="btn" (click)="openRegisterModal()">Register</button>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let message of messages" [ngStyle]="{'color': message.color}">
      <div class="alert" [ngClass]="(message.username===username)?'alert-primary text-right':'alert-success'">
        {{message.username}}: {{message.text}}
      </div>
    </li>
  </ul>

  <div class="form-group">
    <input type="text" #box class="form-control" id="chatMessage" [ngStyle]="{'color': color}" placeholder="Enter message..." (keyup.enter)="sendMessage(box)">
  </div>
</div>
